@font-face {
  font-family: "Caslon540";
  src: url("../ressources/fonts/Caslon540/Caslon540-BT-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "GrouchBT";
  src: url("../ressources/fonts/GrouchBT/Grouch-BT.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../ressources/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: rgba(234, 190, 176, 0.555);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(43deg, #90111c 0%, #cb333b 80%);
  border-radius: 1rem;
}

/* ==================Scroll up ==================*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background: #e44b55;
  border-radius: 100px;
  padding: 0.49rem;
  opacity: 9;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scrollup:hover {
  background: #d3d3d3;
  opacity: 1;
}

.scrollup .fa-chevron-up {
  color: whitesmoke;
  font-size: 0.9rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 60px;
}

/*=============== HEADER ===============*/
#bandeau-slide {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.phraseSlide {
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cadre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centre {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -2.25rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 4.5rem;
  text-align: center;
  line-height: 45px;
}

.carousel .changeHidden {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  height: 4rem;
  line-height: 4rem;
  width: 100%;
  overflow: hidden;
}

.carousel .changeHidden .contenant {
  position: relative;
  -webkit-animation: carousel 18s ease-in-out infinite;
          animation: carousel 18s ease-in-out infinite;
}

.carousel .changeHidden .element {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #90111c;
  font-family: "Caslon540", sans-serif;
}

@-webkit-keyframes carousel {
  0%,
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,
  45% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  50%,
  70% {
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
  }
  75%,
  95% {
    -webkit-transform: translateY(-12rem);
            transform: translateY(-12rem);
  }
  100% {
    -webkit-transform: translateY(-16rem);
            transform: translateY(-16rem);
  }
}

@keyframes carousel {
  0%,
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,
  45% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  50%,
  70% {
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
  }
  75%,
  95% {
    -webkit-transform: translateY(-12rem);
            transform: translateY(-12rem);
  }
  100% {
    -webkit-transform: translateY(-16rem);
            transform: translateY(-16rem);
  }
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 75px 5px 45px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-box .language-container {
  margin-right: 5px;
  background: #fff;
  border-radius: 5px;
  padding: 10px 2px;
}

.language-container select {
  border: none;
  outline: none;
  font-size: 16px;
}

.search {
  width: 280px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.35);
          box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.35);
  padding: 0px 5px;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-input .search-item {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 5px;
}

h1 {
  font-family: "GrouchBT", sans-serif;
  font-size: 75px;
  font-weight: 400;
  color: #000;
  margin-left: -35px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  list-style-type: none;
}

.item-nav {
  margin: 15px;
}

.icon-nav {
  width: 35px;
  height: 35px;
  color: white;
}

.nav-below-link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-below-link:hover {
  color: #cb333b;
}

.nav-below-link,
.nav-btn-link span {
  text-decoration: none;
  color: #333;
  font-family: "Caslon540", sans-serif;
  font-size: 20px;
}

.btn,
.nav-below-link {
  margin-top: 10px;
  margin-bottom: 10px;
}

#button {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  padding: 0px 10px;
  font-family: "Caslon540", sans-serif;
  font-weight: 600;
  color: #222222;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #90111c;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#button span {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#button span:hover {
  font-weight: bolder;
}

.nav-btn-link {
  text-transform: none !important;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #90111c;
  color: #fff;
  padding: 0.8rem 3rem;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: "Caslon540", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 4rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 35rem;
}

.login-form-container form h3 {
  font-size: 25px;
  font-family: "Caslon540", sans-serif;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: #90111c;
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 16px;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
  color: #fff;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #666;
  font-family: "Poppins", sans-serif;
}

.login-form-container form p a {
  color: #90111c;
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .login-form-container form {
    padding: 1rem 1.5rem;
    width: 23rem;
  }
  .login-form-container form h3 {
    font-size: 20px;
  }
  .login-form-container form .box {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #333;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
  }
  .login-form-container form .box {
    padding: 12px;
    font-size: 16px;
  }
  .btn {
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
  }
  .login-form-container form p {
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  .login-form-container form {
    width: 21rem;
    padding: 1rem 1.2rem;
  }
  .login-form-container form h3 {
    font-size: 19px;
  }
  .login-form-container form .box {
    font-size: 15px;
  }
  .btn {
    font-size: 1.2rem;
  }
  .login-form-container form p {
    font-size: 12px;
  }
  .login-form-container #form-close {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .item-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.header .item-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}

.header .menu > ul > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 95%;
  margin: 5px auto;
}

.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  -webkit-box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}

li::marker {
  color: #eabeb0;
}

@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
  .nav-below-link .fa-angle-down {
    display: none;
  }
}

.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}

.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}

.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
}

.separation-designers {
  border: 1.4px solid #cb333b;
  border-radius: 100px;
  height: 250px;
  margin: 40px 40px 40px -70px;
}

.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item a {
  text-decoration: none;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #e44b55;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.header
.menu
> ul
> li
.sub-menu.mega-menu-column-4
> .list-item.text-center
.title {
  text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #ea4636;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

.btn-all-brands {
  background: #90111c;
  padding: 10px 38px;
  border: none;
  outline: none;
  color: #fff;
  font-size: "Caslon540", sans-serif;
  font-weight: 600;
  text-align: center;
}

/*responsive*/
@media (max-width: 991px) {
  .header .item-center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .header .item-left,
  .header .item-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .v-center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }
  .header .item-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu.active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 15px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header .menu .mobile-menu-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 501;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu-main {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 0;
    width: auto;
    margin: 0;
  }
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  @-webkit-keyframes slideLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideRight {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
    margin: 5px;
  }
  .header
.menu
> ul
> li
.sub-menu.mega-menu-column-4
> .list-item.text-center
.title {
    margin-bottom: 20px;
  }
  .header
.menu
> ul
> li
.sub-menu.mega-menu-column-4
> .list-item.text-center:last-child
.title {
    margin-bottom: 0px;
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px;
  }
  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .nav-btn-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.main-pictures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.main-pictures img {
  width: 100%;
}

.achetez {
  text-align: center;
  color: white;
  position: relative;
  top: -20rem;
  left: 50%;
  font-size: 33px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.paragraphe-achetez {
  text-align: center;
  color: white;
  position: relative;
  top: -17rem;
  left: -50%;
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-acheter-vendre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -7rem;
}

.btn-acheter-vendre .link-acheter-vendre {
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 10px 45px;
  text-decoration: none;
  color: #fff;
  background: rgba(180, 180, 180, 0.779);
  -webkit-box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-acheter-vendre .link-acheter-vendre:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background: linear-gradient(62deg, #cb333b 0%, #e44b55 80%);
}

/*=============== NEW ===============*/
.container-swiper {
  max-width: 920px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section__title {
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
}

@media screen and (min-width: 992px) {
  .container-swiper {
    margin-left: auto;
    margin-right: auto;
  }
}

.hearts,
.messages,
.vues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.heart {
  position: relative;
  top: 1rem;
  right: 1rem;
  font-size: x-large;
}

.heart::before {
  content: "";
  opacity: 1;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.heart:hover::before {
  color: transparent;
  background: linear-gradient(27deg, #d6424a 0%, #d6001c 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: 900;
  cursor: pointer;
}

.fa-heart {
  color: #333;
}

.messages .fa-envelope {
  position: relative;
  top: 2rem;
  right: 1rem;
  font-size: x-large;
  color: #333;
}

.vues .fa-eye {
  position: relative;
  top: 3rem;
  right: 1rem;
  font-size: x-large;
  color: #333;
}

.items-card {
  text-align: left;
  margin-left: 10px;
  margin-top: -50px;
}

.items-price-and-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.items-card-price {
  font-weight: bold;
  font-size: 20px;
}

.new__card {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: #fafafa;
  -webkit-box-shadow: 0 4px 5px rgba(48, 29, 30, 0.2);
          box-shadow: 0 4px 5px rgba(48, 29, 30, 0.2);
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 4.4rem;
  overflow: hidden;
}

.btn-card-link {
  margin-top: -2.5rem;
}

.btn-card-link .items-card-link {
  border: none;
  padding: 15px 15px;
  margin: 0 auto;
  color: #cb333b;
  width: 60%;
  border-radius: 4px;
  font-family: "GrouchBT";
  -webkit-box-shadow: 1px 3px 5px rgba(139, 139, 139, 0.6);
          box-shadow: 1px 3px 5px rgba(139, 139, 139, 0.6);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-card-link .items-card-link:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: rgba(243, 61, 85, 0.952);
}

.btn-card-link .items-link {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-card-link .items-link:hover {
  font-weight: 500;
}

.new__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.new__card:hover .new__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.zoom-img {
  width: 200px;
  height: 250px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

#lightboxBg {
  position: fixed;
  z-index: 150;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.99);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: none;
}

#lightboxBg.active {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#lightboxImg {
  max-width: 80%;
  max-height: 80%;
  border: 4px solid white;
  -webkit-box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.6);
}

/*Class Swiper*/
.swiper-pagination {
  margin-bottom: 15px;
}

.swiper-pagination-bullet {
  background: #d6001c;
}

.swiper-pagination-bullet-active {
  background: #cb333b;
}

@media screen and (max-width: 1300px) {
  .container-swiper {
    padding-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .overlay .para-swiper {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .container-swiper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .overlay .para-swiper {
    width: 70%;
  }
}

.btn-produits {
  position: relative;
  overflow: hidden;
  width: 30%;
  margin: 0 auto;
  padding: 15px 10px;
  text-align: center;
  background: linear-gradient(62deg, #cb333b 0%, #e44b55 80%);
  color: #111111;
  font-family: "Caslon540", sans-serif;
  font-size: 25px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #eabeb0;
  outline: none;
  border: none;
  -webkit-box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn-produits:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-voir-produits {
  text-decoration: none;
  color: #333;
}

.parallax-vedette {
  background: url(../ressources/images/parallax-vedette.jpg) no-repeat top/cover fixed;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eabeb0;
  border-bottom: 1px solid #eabeb0;
  margin: 100px auto 50px;
}

.parallax-vedette .txt-par,
.parallax-femme .txt-par,
.parallax-homme .txt-par {
  border: none;
  outline: none;
  border-radius: 4px;
  margin-left: 40px;
  padding: 10px 25px;
  background: rgba(234, 190, 176, 0.76);
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  font-family: "Caslon540", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.parallax-vedette .txt-par:hover,
.parallax-femme .txt-par:hover,
.parallax-homme .txt-par:hover {
  font-weight: 600;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #90111c;
  color: #fff;
}

.txt-vedette {
  margin: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.parallax-femme {
  background: url(../ressources/images/parallax-femme.jpg) no-repeat top/cover fixed;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eabeb0;
  border-bottom: 1px solid #eabeb0;
  margin: 100px auto 50px;
}

.txt-femme {
  margin: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.parallax-homme {
  background: url(../ressources/images/parallax-homme.jpg) no-repeat top/cover fixed;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eabeb0;
  border-bottom: 1px solid #eabeb0;
  margin: 100px auto 50px;
}

.txt-homme {
  margin: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.titre-produits-femme {
  margin: 80px;
}

.titre-produits-femme h2 {
  font-family: "GrouchBT", sans-serif;
  font-size: 30px;
}

.filters-container {
  margin: 0px 0px 0px 70px;
}

.filters-container .filter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  margin: 10px;
}

.filter-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 15px;
  border: none;
  outline: none;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(92, 92, 92, 0.75);
          box-shadow: 4px 4px 5px -1px rgba(92, 92, 92, 0.75);
  border-radius: 2px;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}

.filter-toggle:hover {
  border: 2px solid #90111c;
}

.filter-toggle .filter-references {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.products .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1440px;
  margin: 50px;
  padding: 2rem;
}

.products .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17rem;
          flex: 1 1 17rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.products .box-container .box .new {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-family: "Caslon540", sans-serif;
  color: #d6001c;
  background: rgba(255, 51, 153, 0.1);
  z-index: 1;
  border-radius: 4px;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 1rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 15rem;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.products .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.products .box-container .box:hover .image .icons {
  bottom: 0;
}

.products .box-container .box .image .icons a {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  width: 50%;
  background: #e44b55;
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
  font-family: "Caslon540", sans-serif;
}

.products .box-container .box .image .icons a:hover {
  background: #333;
}

.products .box-container .box .content {
  padding: 1rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-family: "Caslon540", sans-serif;
  font-size: 1rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-family: "Caslon540", sans-serif;
  font-size: 1rem;
  color: #90111c;
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

.titre-produits-homme {
  margin: 60px;
}

.titre-produits-homme h2 {
  font-family: "GrouchBT", sans-serif;
  font-size: 30px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

.container-picture {
  background: url("../ressources/images/images-pieces-exception/main-shoes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  border-radius: 2px;
}

.container-title {
  position: relative;
  top: 50%;
  left: 5%;
}

.container-title h2 {
  font-family: "Caslon540", sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.btn-scroll {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 25.6px;
  color: #333;
  font-weight: bold;
  gap: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn,
.btn i {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fa-arrow-down {
  color: #90111c;
}

.fa-arrow-down:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.produits-rares {
  margin: 50px;
}

.produits-rares h3 {
  margin-top: 130px;
  margin-bottom: 80px;
  font-family: "GrouchBT", sans-serif;
  font-size: 30px;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[4];
      grid-template-columns: repeat(4, 0.5fr);
}

.card {
  gap: 2rem;
}

.card img {
  width: 80%;
  border-radius: 4px;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.35);
          box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.35);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.card img:hover {
  border: 2px solid #eabeb0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.titre-principal-designer {
  margin: 80px 0px 50px 50px;
}

.titre-principal-designer h2 {
  font-family: "GrouchBT", sans-serif;
  font-size: 40px;
}

.container-principal {
  width: 675px;
  height: 520px;
  background: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
  margin: 0 auto;
}

.container-onglets {
  background: #eabeb0;
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #333;
}

.onglets {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Caslon540", sans-serif;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}

.contenus {
  height: 30%;
  width: 60%;
  position: absolute;
  opacity: 0;
}

.contenus h3,
.contenus {
  padding: 15px;
}

.contenus hr {
  width: 20%;
  height: 2px;
  margin-left: 20px;
  background: #000;
  border: none;
}

/* anim */
.active-onglets {
  background: #90111c;
  color: #f1f1f1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.active-contenu {
  -webkit-animation: fade 0.5s forwards;
          animation: fade 0.5s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list-designers-luxe,
.list-designers-createur {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  width: 90%;
  margin: 0px auto;
}

.contenus .list-designers-luxe .list-item-luxe,
.list-designers-createur {
  list-style-type: none;
}

.list-designers-luxe .list-item-luxe .link-designer,
.list-designers-createur .list-item-createur .link-designer-createur {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.list-designers-luxe .list-item-luxe .link-designer,
.list-designers-createur .list-item-createur .link-designer-createur {
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.list-designers-luxe .list-item-luxe .link-designer:hover,
.list-designers-createur .list-item-createur .link-designer-createur:hover {
  color: #90111c !important;
  font-weight: bold;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.blog {
  margin-top: 70px;
  text-align: center;
}

.blog-title-principal {
  font-family: "GrouchBT", sans-serif;
  font-size: 45px;
  margin: 100px 0 100px 0;
}

/*=============== NEW ===============*/
.container-swiper-blog {
  max-width: 920px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 992px) {
  .container-swiper-blog {
    margin-left: auto;
    margin-right: auto;
  }
}

.new__card-blog {
  position: relative;
  width: 300px;
  height: 320px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1);
          box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1);
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 4.4rem;
  overflow: hidden;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: #90111c;
  opacity: 0.9;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.overlay span {
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  position: absolute;
  background: #eabeb0;
  border: 2px solid #eabeb0;
  top: 10%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

.overlay .para-swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-family: "Caslon540", sans-serif;
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  line-height: 1.6;
  width: 85%;
}

.overlay a {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  padding: 10px 15px;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  border-radius: 3px;
  background: #eabeb0;
  font-family: "Caslon540", sans-serif;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.overlay a:hover {
  color: #333;
  background-color: #fff;
}

.swiper-blog:hover .overlay {
  height: 100%;
}

.img-blog {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 320px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.new__card-blog:hover .img-blog {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*Class Swiper*/
.swiper-pagination {
  margin-bottom: 15px;
}

.swiper-pagination-bullet {
  background: rgba(234, 190, 176, 0.989);
}

.swiper-pagination-bullet-active {
  background: #eabeb0;
}

@media screen and (max-width: 500px) {
  .overlay .para-swiper {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .container-blog {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .overlay .para-swiper {
    width: 70%;
  }
}

.footer {
  margin-top: 150px;
  width: 100%;
  min-height: 300px;
  text-align: center;
  line-height: 2.5;
}

.footer .footer-items {
  background: #f2f2f2;
}

.footer h4 {
  font-family: "GrouchBT", sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: #000;
}

.footer-title {
  line-height: 1.7;
  border-bottom: 1px solid #333;
  margin: 1px;
  padding-bottom: 20px;
}

.footer-title span {
  font-family: "Caslon540", sans-serif;
  font-weight: 500;
  color: #000;
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-right: 55px;
}

.icone-conditions h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

.icone-conditions p {
  font-family: "Poppins", sans-serif;
}

.icone-conditions .img-conditions {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.icone-conditions .img-conditions:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.condition-delivery,
.condition-return {
  line-height: 1.3;
}

.payment {
  margin-left: -80px;
}

.reseaux-items {
  background: linear-gradient(27deg, #d6424a 0%, #d6001c 80%);
}

.follow h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.reseaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  margin: 0 auto;
  line-height: 0.7;
}

.logo-reseaux {
  width: 40px;
  height: 40px;
  margin: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.logo-reseaux:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.items-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-footer ul li {
  margin: 15px;
  list-style-type: none;
  color: #000;
}

.items-footer ul li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.items-footer ul li a:hover {
  font-weight: bolder;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 1185px) {
  .conditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    padding: 0px;
    margin-right: 0px;
  }
  .icone-conditions {
    margin: 15px;
  }
  .payment {
    margin-left: 0;
  }
}

@media screen and (max-width: 475px) {
  .conditions {
    margin: 20px auto;
  }
  .icone-conditions {
    margin: 5px;
  }
  .condition-para {
    font-size: 14px;
  }
  .items-footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .items-footer ul li {
    margin: 5px;
  }
}

@media screen and (max-width: 395px) {
  .reseaux {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .nav-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 40px;
    margin-left: 0;
  }
  .icon-nav {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 991px) {
  .language-container {
    margin-left: 8px;
  }
  #button {
    width: 80%;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
  }
  .main-pictures {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 0;
  }
  .main-pictures img:nth-child(2) {
    display: none;
  }
  .achetez {
    text-align: center;
    color: white;
    position: relative;
    top: -18rem;
    left: 0;
    font-size: 30px;
  }
  .paragraphe-achetez {
    top: -17rem;
    left: 0%;
    font-size: 30px;
  }
  .btn-acheter-vendre {
    margin-top: -10rem;
  }
  .parallax-vedette {
    margin: 70px auto 50px;
  }
  .btn-produits {
    width: 50%;
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .form-connection {
    width: 280px;
    top: 60%;
    left: 50%;
  }
  .form-connection h2 {
    font-size: 18px;
  }
  .form-connection label {
    font-size: 16px;
  }
  form input {
    font-size: 12px;
  }
  .achetez {
    text-align: center;
    color: white;
    position: relative;
    top: -13rem;
    left: 0;
    font-size: 26px;
  }
  .paragraphe-achetez {
    top: -13rem;
    left: 0%;
    font-size: 26px;
  }
  .btn-acheter-vendre {
    font-size: 18px;
  }
  .btn-produits {
    width: 60%;
    font-size: 22px;
  }
}

@media screen and (max-width: 575px) {
  .achetez {
    top: -11rem;
    font-size: 24px;
  }
  .paragraphe-achetez {
    top: -11rem;
    left: 0%;
    font-size: 24px;
  }
  .btn-acheter-vendre {
    font-size: 17px;
    margin-top: -9rem;
  }
  .btn-acheter-vendre .link-acheter-vendre {
    padding: 7px 40px;
  }
  .parallax-vedette .txt-par,
  .parallax-femme .txt-par,
  .parallax-homme .txt-par {
    font-size: 30px;
  }
  .btn-produits {
    width: 70%;
    font-size: 21px;
  }
}

@media screen and (max-width: 475px) {
  .carousel .changeHidden .element {
    font-size: 16px;
  }
  .achetez {
    top: -10rem;
    font-size: 24px;
  }
  .paragraphe-achetez {
    top: -10rem;
    font-size: 24px;
  }
  .btn-acheter-vendre {
    font-size: 16px;
    margin-top: -9rem;
  }
  .btn-acheter-vendre .link-acheter-vendre {
    padding: 7px 40px;
  }
  .txt-vedette,
  .txt-femme,
  .txt-homme {
    margin: 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .carousel .changeHidden .element {
    font-size: 14px;
  }
  .achetez {
    top: -10rem;
    font-size: 20px;
  }
  .paragraphe-achetez {
    top: -10rem;
    font-size: 20px;
  }
  .btn-acheter-vendre {
    font-size: 14px;
    margin-top: -8rem;
  }
  .main-pictures img {
    height: 285px;
  }
  .btn-acheter-vendre .link-acheter-vendre {
    padding: 5px 35px;
  }
}

@media screen and (max-width: 475px) {
  .titre-produits-femme {
    margin: 60px;
  }
  .titre-produits-femme h2 {
    font-size: 25px;
  }
  .products .box-container {
    padding: 0;
  }
}

@media screen and (max-width: 380px) {
  .titre-produits-femme {
    margin: 40px;
  }
  .titre-produits-femme h2 {
    font-size: 21px;
  }
}

@media screen and (max-width: 991px) {
  .container-picture {
    background-position: top;
    width: 100%;
    height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .container-picture {
    height: 70vh;
  }
  .container-title {
    top: 60%;
    left: 2%;
  }
  .container-title h2 {
    font-size: 26px;
  }
  .btn-scroll {
    font-size: 23px;
  }
  .produits-rares h3 {
    font-size: 25px;
  }
  .d-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card {
    gap: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .container-picture {
    height: 67vh;
  }
  .container-title h2 {
    font-size: 21px;
  }
  .btn-scroll {
    font-size: 20px;
  }
  .produits-rares h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 475px) {
  .container-title {
    margin: 10px;
  }
  .produits-rares h3 {
    text-align: center;
    line-height: 1.5;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .btn-scroll {
    font-size: 18px;
  }
  .d-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 380px) {
  .produits-rares {
    margin: 30px;
  }
  .container-picture {
    height: 52vh;
  }
  .container-title {
    margin: 15px;
    left: 0;
    top: 60%;
  }
  .container-title h2 {
    width: 70%;
    font-size: 18px;
  }
  .produits-rares h3 {
    line-height: 1.5;
    font-size: 19px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .btn-scroll {
    font-size: 17px;
  }
  .card img {
    width: 90%;
  }
}

@media screen and (min-width: 1110px) {
  .contenus {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .container-principal {
    height: 490px;
  }
  .contenus {
    width: 71%;
  }
}

@media screen and (max-width: 768px) {
  .container-principal {
    width: 600px;
    height: 440px;
  }
  .contenus {
    width: 90%;
  }
  .list-designers-luxe,
  .list-designers-createur {
    grid-row-gap: 7px;
  }
}

@media screen and (max-width: 650px) {
  .container-principal {
    width: 550px;
    height: 590px;
  }
  .contenus {
    width: 91%;
  }
  .container-onglets {
    height: 20%;
  }
  .onglets {
    font-size: 18px;
  }
  .list-designers-luxe,
  .list-designers-createur {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 590px) {
  .container-principal {
    width: 500px;
    height: 590px;
  }
  .contenus {
    width: 87%;
  }
  .container-onglets {
    height: 18%;
  }
  .onglets {
    font-size: 17px;
  }
}

@media screen and (max-width: 475px) {
  .titre-principal-designer {
    margin: 50px 0px 50px 50px;
  }
  .container-principal {
    width: 350px;
    height: 560px;
  }
  .titre-principal-designer h2 {
    font-size: 30px;
  }
  .contenus {
    width: 85%;
  }
  .container-onglets {
    height: 13%;
  }
  .onglets {
    font-size: 13px;
    font-weight: 600;
  }
  .list-designers-luxe,
  .list-designers-createur {
    margin: 0;
  }
}

@media screen and (max-width: 390px) {
  .container-principal {
    width: 310px;
    height: 650px;
  }
  .contenus h3,
  .contenus {
    padding: 10px;
  }
  .container-onglets {
    height: 10%;
  }
  .onglets {
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 580px) {
  .blog-title-principal {
    font-size: 35px;
    margin: 80px 0 80px 0;
  }
}

@media screen and (max-width: 475px) {
  .blog-title-principal {
    font-size: 30px;
    margin: 60px 0 60px 0;
  }
}

@media screen and (max-width: 385px) {
  .blog-title-principal {
    font-size: 25px;
    margin: 50px 0 50px 0;
  }
  .overlay span {
    font-size: 18px;
    top: 10%;
    left: 20%;
  }
}

@media screen and (max-width: 355px) {
  .overlay span {
    font-size: 17px;
    left: 25%;
  }
}
/*# sourceMappingURL=style.css.map */