@font-face {
  font-family: "Caslon540";
  src: url("../ressources/fonts/Caslon540/Caslon540-BT-Roman.ttf")
    format("truetype");
}
@font-face {
  font-family: "GrouchBT";
  src: url("../ressources/fonts/GrouchBT/Grouch-BT.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../ressources/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  src: url("../ressources/fonts/Poppins/Poppins-ExtraLight.ttf")
    format("truetype");
  src: url("../ressources/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  src: url("../ressources/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  src: url("../ressources/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  // src: url("../ressources/fonts/Poppins/Poppins-SemiBold.ttf")
  //   format("truetype");
  // src: url("../ressources/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/index";
@import "./layout/produits";
@import "./layout/produit";
@import "./layout/pieces-exception";
@import "./layout/designers";
@import "./layout/blog";
@import "./layout/mdp-oublie";
@import "./layout/creation-compte-client";
@import "./layout/footer";
@import "./pages-responsives/responsive-index";
@import "./pages-responsives/responsive-produits";
@import "./pages-responsives/responsive-pieces-exception";
@import "./pages-responsives/responsive-designers";
@import "./pages-responsives/responsive-blog";
