@font-face {
  font-family: "Caslon540";
  src: url("../ressources/fonts/Caslon540/Caslon540-BT-Roman.ttf")
    format("truetype");
}
@font-face {
  font-family: "GrouchBT";
  src: url("../ressources/fonts/GrouchBT/Grouch-BT.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../ressources/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/index";
@import "./layout/produits-femme";
@import "./layout/produits-homme";
@import "./layout/pieces-exception";
@import "./layout/designers";
@import "./layout/blog";
@import "./layout/mdp-oublie";
@import "./layout/footer";
@import "./pages-responsives/responsive-index";
@import "./pages-responsives/responsive-produits-femme";
@import "./pages-responsives/responsive-pieces-exception";
@import "./pages-responsives/responsive-designers";
@import "./pages-responsives/responsive-blog";
