*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

.titre-principal-designer {
  margin: 80px 0px 50px 50px;
}
.titre-principal-designer h2 {
  font-family: $font-primary;
  font-size: 40px;
}
// Section designers
.container-principal {
  width: 675px;
  height: 395px;
  background: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
  margin: 0 auto;
}
.container-onglets {
  background: $color-quaternary;
  width: 100%;
  height: 25%;
  display: flex;
  border-bottom: 1px solid #333;
}
.onglets {
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-secondary;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}
.onglets:not(:nth-child(3)) {
  border-right: 1px solid #333;
}
.contenus {
  height: 30%;
  width: 60%;
  position: absolute;
  opacity: 0;
}
.contenus h3,
.contenus {
  padding: 15px;
}
.contenus hr {
  width: 20%;
  height: 2px;
  margin-left: 20px;
  background: #000;
  border: none;
}

/* anim */
.active-onglets {
  background: $color-header;
  color: #f1f1f1;
  transition: all 0.4s ease;
}
.active-contenu {
  animation: fade 0.5s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// liste designers
.list-designers-luxe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  width: 90%;
}
.contenus .list-designers-luxe .list-item-luxe {
  list-style-type: none;
}
.contenus .list-designers-luxe .list-item-luxe .link-designer {
  font-family: $font-tertiary;
  color: #000;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.contenus .list-designers-luxe .list-item-luxe .link-designer:hover {
  color: $color-header;
  font-weight: bold;
}
