*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: rgba(234, 190, 176, 0.555);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    27deg,
    rgba(214, 66, 73, 0.61) 0%,
    rgba(214, 0, 29, 0.473) 80%
  );
  border-radius: 1rem;
}

//****************************Header*************************//
// bandeau & phrases slide start
.phraseSlide {
  width: 100%;
  height: 50px;
  position: relative;
}
.cadre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50px;
  transform: translate(-50%, -50%);
}
.centre {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -2.25rem;
}
.carousel {
  position: relative;
  width: 100%;
  height: 4.5rem;
  text-align: center;
  line-height: 45px;
}
.carousel .changeHidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  height: 8rem;
  line-height: 8rem;
  width: 100%;
  overflow: hidden;
}
.carousel .changeHidden .contenant {
  position: relative;
  animation: carousel 18s ease-in-out infinite;
}

.carousel .changeHidden .element {
  font-size: 20px;
  font-weight: 500;
  color: $color-primary;
  font-family: $font-secondary;
}
@keyframes carousel {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-8rem);
  }
  50%,
  70% {
    transform: translateY(-16rem);
  }
  75%,
  95% {
    transform: translateY(-24rem);
  }
  100% {
    transform: translateY(-32rem);
  }
}
// bandeau & phrases slide end
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-header;
  padding: 15px 5px 45px 5px;
}

.search-box {
  display: flex;
  align-items: center;
}
.search-box .language-container {
  margin-right: 5px;
  background: #fff;
  border-radius: 5px;
  padding: 10px 2px;
}
.language-container select {
  border: none;
  outline: none;
  font-size: 16px;
}
.search {
  width: 280px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 0px 10px;
}
.search form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
form input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
}
h1 {
  font-family: $font-primary;
  font-size: 75px;
  font-weight: 400;
  color: #fff;
  margin-left: -75px;
}
.nav-links {
  display: flex;
  margin: 15px;
  list-style-type: none;
}
.item-nav {
  margin: 20px;
}
.icon-nav {
  width: 35px;
  height: 35px;
  color: white;
}
//****************************Popup user start*************************//
.form-connection {
  width: 320px;
  height: 320px;
  background: rgb(234, 190, 176);
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f1f1f1;
  position: absolute;
  top: 53%;
  left: 70%;
  padding-top: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 3px 7px 6px 0px rgba(114, 114, 114, 0.75);
  z-index: 100;
}
.form-connection h2 {
  font-family: $font-tertiary;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}
.connection {
  width: 100%;

  .mdp-link-perdu {
    border-bottom: 1px solid #fff;
    width: 90%;
    margin: 0 auto 10px;
    padding-bottom: 10px;
  }
  .mdp-link {
    color: $color-tertiary;
    font-size: 14px;
    font-family: $font-tertiary;
    font-weight: 400;
    transition: color 0.2s ease-in-out;
  }
  .mdp-link-lost {
    display: flex;
    justify-content: end;
  }
}
.btn-connection {
  display: flex;
  background: #fff;
  font-size: 16px;
  font-family: $font-tertiary;
  font-weight: 500;
  margin: 0 auto;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.btn-connection:hover {
  font-weight: bold;
  background-color: #e44b55;
  transform: scale(1.1);
}
.mdp-title-inscrire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px;
}
.mdp-link:hover {
  font-weight: bolder;
}
label {
  font-size: 20px;
  color: #fff;
}
input {
  width: 80% !important;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}
.apparition {
  display: flex;
}
// ****************************Popup user end***********************//

//****************************Navbar below*************************//

.nav-below-link {
  transition: all 0.2s ease-in-out;
}
.nav-below-link:hover {
  color: $color-secondary;
}
.nav-below-link,
.nav-btn-link span {
  text-decoration: none;
  color: #333;
  font-family: $font-secondary;
  font-size: 20px;
}
.btn,
.nav-below-link {
  margin-top: 20px;
  margin-bottom: 20px;
}
#button {
  position: relative;
  overflow: hidden;
  background: linear-gradient(62deg, #cb333b 0%, #e44b55 80%);
  padding: 0px 20px;
  font-family: $font-secondary;
  font-weight: 600;
  color: rgb(34, 34, 34);
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $color-quaternary;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}
#button:hover {
  transform: scale(1.05);
}
#button span {
  position: relative;
  pointer-events: none;
}

#button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  background: radial-gradient(
    circle closest-side,
    rgb(203, 51, 59),
    rgb(234, 190, 176),
    transparent
  );
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}
#button:hover::before {
  --size: 400px;
}
//****************************** mega-menu start**************************//
.container {
  max-width: 1200px;
  margin: auto;
}
.v-center {
  align-items: center;
}
.header .item-center {
  flex: 0 0 66%;
}
.header .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}
.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}
.header .menu > ul > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.menu-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  width: 95%;
  margin: 5px auto;
}
.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}
li::marker {
  color: $color-quaternary;
}
@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
  .nav-below-link .fa-angle-down {
    display: none;
  }
}
.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
}
.separation-designers {
  border: 1.5px solid $color-secondary;
  border-radius: 100px;
  height: 300px;
  margin-left: -75px;
  margin-right: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item a {
  text-decoration: none;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: $color-tertiary;
  font-family: $font-tertiary;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}
.header
  .menu
  > ul
  > li
  .sub-menu.mega-menu-column-4
  > .list-item.text-center
  .title {
  text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #ea4636;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

/*responsive*/
@media (max-width: 991px) {
  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }
  .header .item-left,
  .header .item-right {
    flex: 0 0 auto;
  }
  .v-center {
    justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }
  .header .item-right {
    align-items: center;
  }

  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu.active {
    transform: translate(0%);
  }
  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }
  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu-main {
    display: block;
    flex-direction: column;
    border-bottom: 0;
    width: auto;
    margin: 0;
  }
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center
    .title {
    margin-bottom: 20px;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0px;
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }
  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .nav-btn-link {
    display: flex;
    justify-content: center;
  }
}
//****************************** mega-menu **********************************//

//****************************Section Achetez-Vendez*************************//

.main-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.main-pictures img {
  width: 100%;
}
.achetez {
  text-align: center;
  color: white;
  position: relative;
  top: -20rem;
  left: 50%;
  font-size: 33px;
  font-weight: 700;
  font-family: $font-tertiary;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.paragraphe-achetez {
  text-align: center;
  color: white;
  position: relative;
  top: -17rem;
  left: -50%;
  font-size: 32px;
  font-weight: 700;
  font-family: $font-tertiary;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-acheter-vendre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -7rem;
}
.btn-acheter-vendre .link-acheter-vendre {
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 10px 45px;
  text-decoration: none;
  color: #fff;
  background: rgba(180, 180, 180, 0.779);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  font-family: $font-tertiary;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.btn-acheter-vendre .link-acheter-vendre:hover {
  transform: scale(0.95);
  background: linear-gradient(62deg, #cb333b 0%, #e44b55 80%);
}
//****************************Section Produits-Vedettes*************************//
.parallax-vedette {
  background: url(../ressources/images/parallax-vedette.jpg) no-repeat top /
    cover fixed;
  @include parallax;
}
.parallax-vedette .txt-par {
  @include title-parallax;
  font-size: 35px;
}
.txt-vedette {
  @include txt-produits-parallax;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cartes {
  background: rgba(238, 238, 238, 0.76);
  width: 260px;
  height: 375px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid $color-quaternary;
  margin: 25px 25px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
}
.img1 {
  background: url("../ressources/images/image-vedette1.png");
}
.img2 {
  background: url("../ressources/images/image-vedette2.png");
}
.img3 {
  background: url("../ressources/images/image-vedette3.png");
}
.img4 {
  background: url("../ressources/images/image-vedette4.png");
}
.partImg {
  height: 82%;
  width: 100%;
  background-position: top;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.filtreBleu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background 0.4s ease;
}

.filtreBleu:hover {
  cursor: pointer;
  background: rgba(214, 0, 29, 0.5);
}
.itemsCard {
  background: rgb(240, 240, 240);
}
.btnReveal {
  width: 100px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-secondary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.filtreBleu:hover .btnReveal {
  opacity: 1;
}
.titrePrix {
  padding: 10px;
  width: 100%;
  display: flex;
}
.titreCarte {
  display: flex;
  align-items: center;
  margin: 0;
  width: 80%;
  font-size: 20px;
  position: relative;
}
.prix {
  width: 20%;
  font-size: 18px;
}
.modeles {
  padding: 3px 10px;
  width: 100%;
}
//****************************Section Produits-femme*************************//
.parallax-femme {
  background: url(../ressources/images/parallax-femme.jpg) no-repeat top / cover
    fixed;
  @include parallax;
}
.parallax-femme .txt-par {
  @include title-parallax;
  font-size: 35px;
}
.txt-femme {
  @include txt-produits-parallax;
}
//****************************Section Produits-homme*************************//
.parallax-homme {
  background: url(../ressources/images/parallax-homme.jpg) no-repeat top / cover
    fixed;
  @include parallax;
}
.parallax-homme .txt-par {
  @include title-parallax;
  font-size: 35px;
}
.txt-homme {
  @include txt-produits-parallax;
}
