*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
//****************************Popup user start*************************//
.btn {
  display: inline-block;
  margin-top: 1rem;
  background: $color-header;
  color: #fff;
  padding: 0.8rem 3rem;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: $font-secondary;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: scale(0.95);
}
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 4rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 35rem;
}

.login-form-container form h3 {
  font-size: 25px;
  font-family: $font-secondary;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: $font-tertiary;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: $color-header;
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 16px;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
  color: #fff;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #666;
}

.login-form-container form p a {
  color: $color-header;
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
// ****************************Popup user end***********************//

//****************************Section Achetez-Vendez*************************//
// .achetez-vendez {
//   padding-top: 18rem;
// }

.main-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.main-pictures img {
  width: 100%;
}
.achetez {
  text-align: center;
  color: white;
  position: relative;
  top: -20rem;
  left: 50%;
  font-size: 33px;
  font-weight: 700;
  font-family: $font-tertiary;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.paragraphe-achetez {
  text-align: center;
  color: white;
  position: relative;
  top: -17rem;
  left: -50%;
  font-size: 32px;
  font-weight: 700;
  font-family: $font-tertiary;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-acheter-vendre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -7rem;
}
.btn-acheter-vendre .link-acheter-vendre {
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 10px 45px;
  text-decoration: none;
  color: #fff;
  background: rgba(180, 180, 180, 0.779);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  font-family: $font-tertiary;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.btn-acheter-vendre .link-acheter-vendre:hover {
  transform: scale(0.95);
  background: linear-gradient(62deg, #cb333b 0%, #e44b55 80%);
}
//****************************Section Produits-Vedettes*************************//

/*=============== NEW ===============*/
.container-swiper {
  max-width: 920px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.section__title {
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
}
@media screen and (min-width: 992px) {
  .container-swiper {
    margin-left: auto;
    margin-right: auto;
  }
}
.hearts,
.messages,
.vues {
  display: flex;
  justify-content: flex-end;
}
.heart {
  position: relative;
  top: 1rem;
  right: 1rem;
  font-size: x-large;
}
.heart::before {
  content: "";
  opacity: 1;
  transition: color 0.5s ease-out;
}

.heart:hover::before {
  color: transparent;
  background: linear-gradient((27deg, #d6424a 0%, #d6001c 80%));
  -webkit-background-clip: text;
  background-clip: text;
  transform: scale(1);
  font-weight: 900;
  cursor: pointer;
}
.fa-heart {
  color: #333;
}

.messages .fa-envelope {
  position: relative;
  top: 2rem;
  right: 1rem;
  font-size: x-large;
  color: #333;
}
.vues .fa-eye {
  position: relative;
  top: 3rem;
  right: 1rem;
  font-size: x-large;
  color: #333;
}

.items-card {
  text-align: left;
  margin-left: 10px;
  margin-top: -50px;
}
.items-price-and-type {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.items-card-price {
  font-weight: bold;
  font-size: 20px;
}

.new__card {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 5px hsla(355, 25%, 15%, 0.2);
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 4.4rem;
  overflow: hidden;
}

.btn-card-link {
  margin-top: -2.5rem;

  .items-card-link {
    border: none;
    padding: 15px 15px;
    margin: 0 auto;
    color: #cb333b;
    width: 60%;
    border-radius: 4px;
    font-family: "GrouchBT";
    box-shadow: 1px 3px 5px rgba(139, 139, 139, 0.6);
    transition: all 0.2s ease-in;
  }
  .items-card-link:hover {
    transform: scale(0.95);
    background-color: rgba(243, 61, 85, 0.952);
  }
  .items-link {
    text-decoration: none;
    color: #000000;
    transition: all 0.2s ease-in;
  }
  .items-link:hover {
    font-weight: 500;
  }
}

.new__img {
  object-fit: cover;
  width: 100%;
  transition: 0.3s;
}
.new__card:hover .new__img {
  transform: scale(1.05);
}
.zoom-img {
  width: 200px;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
  object-position: center center;
}
#lightboxBg {
  position: fixed;
  z-index: 150;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.99);
  backdrop-filter: blur(2px);
  display: none;
}
#lightboxBg.active {
  display: grid;
  place-items: center;
}
#lightboxImg {
  max-width: 80%;
  max-height: 80%;
  border: 4px solid white;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.6);
}

/*Class Swiper*/

.swiper-pagination {
  margin-bottom: 15px;
}
.swiper-pagination-bullet {
  background: $color-primary;
}

.swiper-pagination-bullet-active {
  background: $color-secondary;
}
@media screen and (max-width: 1300px) {
  .container-swiper {
    padding-left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .overlay .para-swiper {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .container-swiper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .overlay .para-swiper {
    width: 70%;
  }
}

.btn-produits {
  position: relative;
  overflow: hidden;
  width: 30%;
  margin: 0 auto;
  padding: 15px 10px;
  text-align: center;
  background: linear-gradient(62deg, #cb333b 0%, #e44b55 80%);
  color: rgb(17, 17, 17);
  font-family: $font-secondary;
  font-size: 25px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid $color-quaternary;
  outline: none;
  border: none;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-produits:hover {
  transform: scale(1.05);
}

.btn-voir-produits {
  text-decoration: none;
  color: #333;
}
.parallax-vedette {
  background: url(../ressources/images/parallax-vedette.jpg) no-repeat top /
    cover fixed;
  @include parallax;
}
.parallax-vedette .txt-par,
.parallax-femme .txt-par,
.parallax-homme .txt-par {
  @include title-parallax;
  font-size: 35px;
  transition: all 0.2s ease-in-out;
}
.parallax-vedette .txt-par:hover,
.parallax-femme .txt-par:hover,
.parallax-homme .txt-par:hover {
  font-weight: bolder;
  transform: scale(1.02);
}
.txt-vedette {
  @include txt-produits-parallax;
}
//****************************Section Produits-femme*************************//
.parallax-femme {
  background: url(../ressources/images/parallax-femme.jpg) no-repeat top / cover
    fixed;
  @include parallax;
}

.txt-femme {
  @include txt-produits-parallax;
}
//****************************Section Produits-homme*************************//
.parallax-homme {
  background: url(../ressources/images/parallax-homme.jpg) no-repeat top / cover
    fixed;
  @include parallax;
}
.txt-homme {
  @include txt-produits-parallax;
}
