*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  min-height: 100vh;
}
.container-picture {
  background: url("../ressources/images/images-pieces-exception/main-shoes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  border-radius: 2px;
}
.container-title {
  position: relative;
  top: 50%;
  left: 5%;
}
.container-title h2 {
  font-family: $font-secondary;
  font-weight: bolder;
  font-size: 30px;
}
.btn-scroll {
  display: inline-flex;
  align-self: center;
  font-size: 25.6px;
  color: #333;
  font-weight: bold;
  gap: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn,
.btn i {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.fa-arrow-down {
  color: $color-header;
}
.fa-arrow-down:hover {
  transform: scale(1.06);
}
// ============Section produits d'exception================//
.produits-rares {
  margin: 50px;
}
.produits-rares h3 {
  margin-top: 130px;
  margin-bottom: 80px;
  font-family: $font-primary;
  font-size: 30px;
}
.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
}
.card {
  gap: 2rem;
}
.card img {
  width: 80%;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: $shadow-image;
  transition: all 0.1s ease-in-out;
}
.card img:hover {
  border: 2px solid $color-quaternary;
  transform: scale(1.1);
}
