*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  min-height: 100vh;
}

.container-title {
  margin: 50px 0px 50px 50px;
}
.container-title h2 {
  font-family: $font-tertiary;
  font-weight: bolder;
  font-size: 32px;
}
