*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

// ===================Section produits==================//

.titre-produits-femme {
  margin: 80px 0 40px 70px;
}
.titre-produits-femme h2 {
  font-family: $font-primary;
  font-size: 30px;
}
.filters-container {
  margin: 0px 0px 0px 70px;
}
.filter-row {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 10px 0 50px 70px;
}
.filter-toggle {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px -1px rgba(146, 146, 146, 0.35);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  background: rgb(248, 248, 248);
  cursor: pointer;
}
.filter-toggle:hover {
  background-color: #000;
  color: #fff;
}
.filter-toggle .filter-references {
  font-family: $font-tertiary;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
}
// Products
.produits-main {
  display: flex;
}
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1440px;
  margin: 50px;
}
.products .box-container .box {
  flex: 1 1 17rem;
  box-shadow: 0 0.4rem 0.6rem rgba(59, 59, 59, 0.35);
  border-radius: 4px;
  position: relative;
}
.products .box-container .box .new {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 8px 12px;
  font-size: 1rem;
  font-family: $font-secondary;
  font-weight: 800;
  color: #fff;
  background: $color-quaternary;
  z-index: 1;
  border-radius: 5px;
}
.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 1rem;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 15rem;
  transition: transform 0.1s ease-in-out;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
  transition: all 0.4s ease-in-out;
}
.products .box-container .box:hover .image .icons {
  bottom: 0;
}
.products .box-container .box .image .icons a {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  width: 50%;
  background: $color-header;
  color: #fff;
}
.products .box-container .box .image .icons .cart-btn {
  width: 100%;
  font-family: $font-secondary;
}
.products .box-container .box .image .icons a:hover {
  background: #333;
}
.products .box-container .box .content {
  padding: 1rem;
  text-align: center;
}
.products .box-container .box .content h3 {
  font-family: $font-secondary;
  font-size: 1rem;
  color: #333;
}
.products .box-container .box .content .price {
  font-family: $font-secondary;
  font-size: 1rem;
  color: $color-header;
  font-weight: bolder;
  padding-top: 1rem;
}
.products .box-container .box .content .price span {
  font-size: 1rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}
// Section menu left
.nav {
  width: 440px;
  padding: 8px 20px;
}
.nav label {
  color: black;
  font-size: 20px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  font-family: $font-secondary;
}
.button span {
  float: right;
  line-height: 35px;
}
.nav ul {
  background: white;
  list-style-type: none;
  width: 100%;
  border-radius: 5px;
  display: none;
}
[id^="btn"]:checked + ul {
  display: block;
}
.nav ul li {
  line-height: 20px;
  padding: 8px 2px;
  cursor: pointer;
}
.nav ul li label {
  font-size: 18px;
}
.nav ul li .product-category-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: all 0.1s ease-in-out;
}
.nav ul li .product-category-link:hover,
.nav ul li label .product-category-link:hover {
  color: #90111c;
}
.nav ul ul {
  position: static;
}
.nav ul ul li {
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
.nav ul ul li a {
  color: black;
  font-size: 17px;
}
.nav ul li span {
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
}
.input {
  display: none;
}
// Pagination
.produits-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  overflow-x: hidden;
}
.produits-pagination .page {
  color: #212121;
  border: 2px solid transparent;
  font-family: $font-tertiary;
  font-size: 17px;
  font-weight: 700;
  margin: 5px;
}
.produits-pagination .active {
  background: #b93843;
  border-radius: 50%;
  padding: 0px 10px;
}
