*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.1rem 0 0.1rem;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
// ===================Loader=======================//
.loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: #777;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
// ===================Section produits femme==================//

.titre-produits-femme {
  margin: 80px;
}
.titre-produits-femme h2 {
  font-family: $font-primary;
  font-size: 30px;
}
.filters-container {
  margin: 0px 0px 0px 70px;

  .filter-row {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin: 10px;
  }
}
.filter-toggle {
  display: inline-flex;
  padding: 10px 15px;
  border: none;
  outline: none;
  box-shadow: 4px 4px 5px -1px rgba(92, 92, 92, 0.75);
  border-radius: 2px;
  transition: border 0.2s ease-in;
}
.filter-toggle:hover {
  border: 2px solid $color-header;
}
.filter-toggle .filter-references {
  font-family: $font-tertiary;
  font-size: 16px;
  font-weight: 600;
}
// Products
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1440px;
  margin: 50px;
  padding: 2rem;
}
.products .box-container .box {
  flex: 1 1 17rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.products .box-container .box .new {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-family: $font-secondary;
  color: $color-primary;
  background: rgba(255, 51, 153, 0.1);
  z-index: 1;
  border-radius: 4px;
}
.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 1rem;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 15rem;
  transition: transform 0.1s ease-in-out;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
  transition: all 0.4s ease-in-out;
}
.products .box-container .box:hover .image .icons {
  bottom: 0;
}
.products .box-container .box .image .icons a {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  width: 50%;
  background: $color-tertiary;
  color: #fff;
}
.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
  font-family: $font-secondary;
}
.products .box-container .box .image .icons a:hover {
  background: #333;
}
.products .box-container .box .content {
  padding: 1rem;
  text-align: center;
}
.products .box-container .box .content h3 {
  font-family: $font-secondary;
  font-size: 1rem;
  color: #333;
}
.products .box-container .box .content .price {
  font-family: $font-secondary;
  font-size: 1rem;
  color: $color-header;
  font-weight: bolder;
  padding-top: 1rem;
}
.products .box-container .box .content .price span {
  font-size: 1rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}
