*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

// ===================Section produits==================//

.titre-produits-femme {
  margin: 80px 0 40px 70px;
}
.titre-produits-femme h2 {
  font-family: $font-primary;
  font-size: 30px;
}
.filters-container {
  margin: 0px 0px 0px 50px;
}
.filter-row {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 10px 0 50px 70px;
}
.filter-toggle {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px -1px rgba(146, 146, 146, 0.35);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  background: rgb(248, 248, 248);
  cursor: pointer;
}
.filter-toggle:hover {
  background-color: #000;
  color: #fff;
}
.filter-toggle .filter-references {
  font-family: $font-tertiary;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
}

// =================================
.container-product-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
::selection {
  color: #fff;
  background: #17a2b8;
}
.wrapper {
  width: 300px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid black;
  padding: 20px 20px 15px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
.title-wrapper-price {
  font-size: 18px;
  font-weight: 600;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 20px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 70%;
  outline: none;
  font-size: 15px;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
}
.money {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-left: 5px;
  padding: 4px 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #90111c;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #90111c;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.btn-range-price {
  padding-top: 35px;
  display: flex;
  justify-content: flex-end;
}
.btn-range-price .btn-range {
  padding: 5px 12px;
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-range-price .btn-range:hover {
  color: #fff;
  background-color: #000;
}

// ================================
// Products
.produits-main {
  display: flex;
}
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1440px;
  margin: 50px;
}
.products .box-container .box {
  flex: 1 1 15rem;
  box-shadow: 0 0.4rem 0.6rem rgba(59, 59, 59, 0.35);
  border-radius: 4px;
  position: relative;
}
.products .box-container .box .new {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 8px 12px;
  font-size: 1rem;
  font-family: $font-secondary;
  font-weight: 800;
  color: #fff;
  background: $color-quaternary;
  z-index: 1;
  border-radius: 5px;
}
.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 1rem;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 15rem;
  transition: transform 0.1s ease-in-out;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
  transition: all 0.4s ease-in-out;
}
.products .box-container .box:hover .image .icons {
  bottom: 0;
}
.products .box-container .box .image .icons a {
  height: 3rem;
  line-height: 3rem;
  font-size: 0.9rem;
  width: 50%;
  background: $color-header;
  color: #fff;
}
.products .box-container .box .image .icons .cart-btn {
  width: 100%;
  font-family: $font-secondary;
}
.products .box-container .box .image .icons a:hover {
  background: #333;
}
.products .box-container .box .content {
  padding: 1rem;
  text-align: center;
}
.products .box-container .box .content h3 {
  font-family: $font-secondary;
  font-size: 1rem;
  color: #333;
}
.products .box-container .box .content .price {
  font-family: $font-secondary;
  font-size: 1rem;
  color: $color-header;
  font-weight: bolder;
  padding-top: 1rem;
}
.products .box-container .box .content .price span {
  font-size: 1rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}
// Section tablet & phone categories
:root {
  --crimson: crimson;
  --black: #333;
  --white: #fff;
  --light-black: #666;
  --light-bg: #eee;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 1px solid #999;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.side-bar {
  height: 100vh;
  width: 90%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--white);
  padding: 20px;
  border-right: var(--border);
  overflow-y: scroll;
  display: none;
  font-family: $font-tertiary;
}

.side-bar .box {
  border-bottom: var(--border);
  padding: 10px 0;
  border-radius: 5px;
}
.btn-categorie {
  margin-left: 5px;
  border-radius: 3px;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--light-bg);
  color: var(--black);
  text-transform: capitalize;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.btn-categorie:hover {
  background-color: var(--crimson);
  color: var(--white);
}

.side-bar .btn-categorie.active {
  background-color: var(--crimson);
  color: var(--white);
}

.noir.active {
  background-color: black;
}
.side-bar .marine.active {
  background-color: darkblue;
}
.side-bar .gris.active {
  background-color: grey;
}
.side-bar .bleu.active {
  background-color: blue;
}
.side-bar .violet.active {
  background-color: purple;
}
.side-bar .bordeaux.active {
  background-color: #90111c;
}
.side-bar .red.active {
  background-color: red;
}
.side-bar .rose.active {
  background-color: pink;
}
.side-bar .vert.active {
  background-color: green;
}
.side-bar .marron.active {
  background-color: brown;
}
.side-bar .kaki.active {
  background-color: darkolivegreen;
}
.side-bar .camel.active {
  background-color: rgb(235, 204, 183);
}
.side-bar .jaune.active {
  background-color: rgb(255, 255, 73);
  color: #333;
}
.side-bar .beige.active.active {
  background-color: beige;
  color: #333;
}
.side-bar .argente.active {
  background-color: lightgrey;
  color: #333;
}
.side-bar .bleu.active {
  background-color: blue;
}
.side-bar .dore.active {
  background-color: rgb(243, 215, 92);
  color: #333;
}
.side-bar .cuivre.active {
  background-color: burlywood;
}

.side-bar .reset-btn .btn-categorie {
  margin-top: 20px;
  width: 100%;
}

#side-menu {
  position: fixed;
  top: 90%;
  left: 35%;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  line-height: 40px;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: 16px;
  z-index: 1100;
  box-shadow: var(--box-shadow);
  border: var(--border);
  display: none;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 20px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 70%;
  outline: none;
  font-size: 15px;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
}
.money {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-left: 5px;
  padding: 4px 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #90111c;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #90111c;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.btn-range-price {
  padding-top: 35px;
  display: flex;
  justify-content: flex-end;
}
.btn-range-price .btn-range {
  padding: 5px 12px;
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-range-price .btn-range:hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 1200px) {
  .side-bar.active {
    box-shadow: 0 0 0 100vw var(--dark-bg);
    left: 0;
    z-index: 1000;
  }
}
@media screen and (max-width: 991px) {
}
@media (max-width: 768px) {
  #side-menu {
    display: block;
  }

  #side-menu.fa-times {
    top: 7px;
    left: 260px;
  }
  .side-bar {
    display: block;
    left: -680px;
  }
}

@media (max-width: 450px) {
  .side-bar {
    width: 100%;
  }
  #side-menu.fa-times {
    top: 10px;
    left: 10px;
  }

  .side-bar.active {
    padding-top: 70px;
  }
}

// Section menu left
// .nav {
//   width: 440px;
//   padding: 50px 20px;
// }
// .nav label {
//   color: black;
//   font-size: 20px;
//   font-weight: 500;
//   display: block;
//   cursor: pointer;
//   font-family: $font-secondary;
// }
// .button span {
//   float: right;
//   line-height: 35px;
// }
// .nav ul {
//   background: white;
//   list-style-type: none;
//   width: 100%;
//   border-radius: 5px;
//   display: none;
// }
// [id^="btn"]:checked + ul {
//   display: block;
// }
// .nav ul li {
//   line-height: 20px;
//   padding: 8px 2px;
//   cursor: pointer;
// }
// .nav ul li label {
//   font-size: 18px;
// }
// .nav ul li .product-category-link {
//   color: black;
//   text-decoration: none;
//   font-size: 18px;
//   display: block;
//   transition: all 0.1s ease-in-out;
// }
// .nav ul li .product-category-link:hover,
// .nav ul li label .product-category-link:hover {
//   color: #90111c;
// }
// .nav ul ul {
//   position: static;
// }
// .nav ul ul li {
//   line-height: 30px;
//   padding-left: 30px;
//   border-bottom: none;
// }
// .nav ul ul li a {
//   color: black;
//   font-size: 17px;
// }
// .nav ul li span {
//   font-size: 20px;
//   float: right;
//   margin-top: 10px;
//   padding: 0 10px;
// }
// .input {
//   display: none;
// }
// Pagination
.produits-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  overflow-x: hidden;
}
.produits-pagination .page {
  color: #212121;
  border: 2px solid transparent;
  font-family: $font-tertiary;
  font-size: 17px;
  font-weight: 700;
  margin: 5px;
}
.produits-pagination .active {
  background: #b93843;
  border-radius: 50%;
  padding: 0px 10px;
}
