//couleurs du site
$color-primary: #d6001c;
$color-secondary: #cb333b;
$color-tertiary: #e44b55;
$color-header: #90111c;
$color-quaternary: #f3eee8;
// background journal & page life style
$background-page: #f5eeeb;
$background-body: rgba(248, 248, 248, 0.89);
// typographie
$font-primary: "GrouchBT", sans-serif;
$font-secondary: "Caslon540", sans-serif;
$font-tertiary: "Poppins", sans-serif;
// shadows
$shadow-image: 4px 4px 10px rgba(44, 44, 44, 0.35);
