//couleurs du site
$color-primary: #d6001c;
$color-secondary: #cb333b;
$color-tertiary: #e44b55;
$color-header: #90111c;
$color-quaternary: #eabeb0;
$background-header: linear-gradient(27deg, #d6424a 0%, #d6001c 80%);
$background-footer: linear-gradient(45deg, #e44b55 0%, #cb333b 80%);
$background-body: rgba(248, 248, 248, 0.89);
// typographie
$font-primary: "GrouchBT", sans-serif;
$font-secondary: "Caslon540", sans-serif;
$font-tertiary: "Poppins", sans-serif;
// shadows
$shadow-image: 4px 4px 10px rgba(44, 44, 44, 0.35);
