//couleurs du site
$color-primary: #d6001c;
$color-secondary: #cb333b;
$color-tertiary: #e44b55;
$color-quaternary: #eabeb0;
$background-header: linear-gradient(27deg, #d6424a 0%, #d6001c 80%);
$background-footer: linear-gradient(45deg, #e44b55 0%, #cb333b 80%);
// typographie
$font-primary: "GrouchBT", sans-serif;
$font-secondary: "Caslon540", sans-serif;
$font-tertiary: "Poppins", sans-serif;
