@media screen and (min-width: 1110px) {
  .designers-letters {
    min-height: 90vh;
  }
}
@media screen and (max-width: 991px) {
  .container-principal {
    height: 490px;
  }
  .contenus {
    width: 71%;
  }
}
@media screen and (max-width: 768px) {
  .container-principal {
    width: 600px;
    height: 440px;
  }
  .contenus {
    width: 90%;
  }
  .list-designers-luxe,
  .list-designers-createur {
    grid-row-gap: 7px;
  }
}
@media screen and (max-width: 650px) {
  .titre-principal-designer {
    margin: 50px 0px 50px 20px;
  }
  .designers-letters {
    min-height: 120vh;
  }
}
@media screen and (max-width: 590px) {
  .designers-letters {
    min-height: 150vh;
  }
}
@media screen and (max-width: 475px) {
  .designers-letters {
    min-height: 200vh;
  }
  .titre-principal-designer {
    margin: 50px 0px 50px 10px;
  }
  .titre-principal-designer h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 390px) {
  .designers-letters {
    min-height: 210vh;
  }
}
