@media screen and (max-width: 991px) {
}
@media screen and (max-width: 768px) {
  .filter-row {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .nav-top-produits {
    padding: 5px 5px 31px 5px !important;
  }
}
@media screen and (max-width: 475px) {
  .titre-produits-femme {
    margin: 60px;
  }
  .titre-produits-femme h2 {
    font-size: 25px;
  }
  .products .box-container {
    margin: 0 50px 0 50px;
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .titre-produits-femme {
    margin: 40px;
  }
  .titre-produits-femme h2 {
    font-size: 20px;
  }
}
